In [10]:
import pandas as pd
import numpy as np

In [11]:
# dic={
#     'Teachhers':['Teacher_1','Arghya'],
#     'Bengali':[1,1],
#     'Math':[1,1],
#     'Science':[1,1]
# }

In [12]:
# x=pd.DataFrame(dic)

In [13]:
# x.to_csv('Subjects.csv',index=False)

In [14]:
# sub=pd.read_csv('Subjects.csv')

In [15]:
# sub

   Teachhers  Bengali  Math  Science
0  Teacher_1        1     1        1
1     Arghya        1     1        1

In [22]:
#Make Teacher routine here
name=input("Enter Teacher name:")
Monday=input("Enter Monday routine:").split()
Tuesday=input("Enter Tuesday routine:").split()
Wednesday=input("Enter Wedneday routine:").split()
Thursday=input("Enter Thursday routine:").split()
Friday=input("Enter Friday routine:").split()
Saturday=input("Enter Saturday routine:").split()
dic={
    'Monday':Monday,
    'Tuesday':Tuesday,
    'Wednesday':Wednesday,
    'Thursday':Thursday,
    'Friday':Friday,
    'Saturday':Saturday
}
routine=pd.DataFrame(dic)
routine.to_csv(name+'.csv',index=False)

Enter Teacher name:Arghya
Enter monday routine1a/his 2b/History 0 0 0

In [52]:
day=input("Enter today's day:")
absents=input("Enter the absents here:").split(',')
for i in absents:
    csv=i+'.csv'
    classes=pd.read_csv(csv)
    subjects=classes[day]
    slot=0
    for j in subjects:
        j=str(j)
        if j != '0':
            temp=j.split('/')
            class_=temp[0]
            sub=temp[1]
            allocated_teachers=pd.read_csv('Subjects.csv')
            count=0
            for k in allocated_teachers[sub]:
                k=str(k)
                if k=='1' and allocated_teachers['Teachers'][count] not in absents:
                    new_teacher=pd.read_csv(allocated_teachers['Teachers'][count]+'.csv')
                    if new_teacher[day][slot]=='0':
                        print("Slot=",slot,"::Class=",class_,"::sub=",sub,"::Alloted Teacher=",allocated_teachers['Teachers'][count])
                        break
                count +=1
            else:
                print("Slot=",slot,"::Class=",class_,"::sub=",sub,"::Alloted Teacher=Not Possible")
        slot +=1

Enter today's day:Monday
Enter the absents here:Arghya
Slot= 2 ::Class= 1a ::sub= History ::Alloted Teacher= Teacher_1
Slot= 3 ::Class= 1a ::sub= History ::Alloted Teacher= Teacher_1
Slot= 4 ::Class= 1a ::sub= History ::Alloted Teacher= Teacher_1